<form name="catcustomcontentform19282" onsubmit="return checkWholeForm19282(this)" enctype="multipart/form-data" method="post" action="/CustomContentProcess.aspx?A=EditSave&CCID=18851&OID={module_oid}&OTYPE={module_otype}"><table class="webform" cellspacing="0" cellpadding="2" border="0"><tr><td><label for="ItemName">Item Name</label><br /><input class="cat_textbox_small" type="text" name="ItemName" id="ItemName" maxlength="255" /> &bull;</td></tr><tr><td><label for="ItemDescription">Item Description</label><br /><textarea name="ItemDescription" id="ItemDescription" cols="10" rows="4" class="cat_listbox" text=""></textarea></td></tr><tr><td><input class="cat_button" type="submit" value="Submit" id="catcustomcontentbutton" /></td></tr></table><script type="text/javascript" src="/CatalystScripts/ValidationFunctions.js?vs=b87.r512805-phase1"></script><script type="text/javascript">
//<![CDATA[
var submitcount19282 = 0;function checkWholeForm19282(theForm){var why = "";if (theForm.ItemName) why += isEmpty(theForm.ItemName.value, "Item Name");if (why != ""){alert(why);return false;}if(submitcount19282 == 0){submitcount19282++;theForm.submit();return false;}else{alert("Form submission is in progress.");return false;}}
//]]>
</script></form>