<div class="homepage__slide homepage__slide--{{ this['Text colour scheme'] | downcase | replace:' ','-' }}" style="background-image: url('{tag_background_value}')">
  {% if this['Slider link to...'] != "" %}
    <a href="{{ this['Slider link to...'] }}" class="homepage__slide__link">&nbsp;</a>
  {% endif %}
  <div class="homepage__slide__content">
    <p class="homepage__slide__title">{tag_title}</p>
    <p class="homepage__slide__subtitle">{tag_sub title}</p>
  </div>
</div>
