
<div class="shop-receipt">
	<h1>Receipt</h1>
	<p class="error">{module_error}</p>
	<p>Thank you for your purchase. Please find confirmation of your order and payment below. You will also receive an email confirmation of your order.</p>
	<hr />
	<h2>Invoice/Reference Number</h2>
	<p>{tag_invoicenumber}</p>
	<h2>Authorization Code</h2>
	<p>{tag_authorizationcode}</p>
</div>
