
<div class="shop-product-small clear">
<h5>{tag_name}</h5>
<div class="image">{tag_smallimage}</div>
<ul>
<li class="price">Price: <strong>{tag_saleprice}</strong>&nbsp;</li>
<li class="stock">In stock: <strong>{tag_instock}</strong>&nbsp;</li>
<li class="quantity">Qty: <strong>{tag_addtocartinputfield}</strong> {tag_addtocart}</li>
</ul>
</div>

