<header>
  <div class="wrapper">
    <div class="header__logo"><span> <img src="/img/your-environment.png"></span></div>
    <div class="header__logo">
      <a href="/waste-carriers-home">Waste Carriers Licence</a>
    </div>
    <div class="header__nav">
      <nav class="nomobile">
        {module_menu, 1585589}
      </nav>
      <div class="nodesktop flex flex-space-between header__nav__menu">
        <a class="header__mob header__mob--apply" href="/wcl-application">Apply now</a>
        <!-- <a class="header__mob header__mob--renew" href="#">Renew</a> -->
        <label for="showMobileNav" class="header__mob header__mob--menu"> Menu
        </label>
        <a class="header__mob header__mob--tel" href="tel:+0800 319 6869"><i class="fas fa-mobile"></i>&nbsp; Call</a>
      </div>
      <a class="header__tel nomobile" href="tel:+0800 319 6869">0800 319 6869</a>
    </div>
    <input type="checkbox" name="showMobileNav" id="showMobileNav">
    <nav class="mobnav nodesktop">
      {module_menu, 1585589}
    </nav>
  </div>
</header>
<div class="irishlicences">
    <div class="wrapper">Your Environment <b><u>cannot</u></b> provide Irish Waste Carriers Licences</div>
</div>
