<footer>

    <div class="wrapper">
      <p>&copy; Your Environmental Company Limited 2018, registered in England and Wales Number 07717486.<br class="nodesktop">VAT number: 161605528.
        <br>
        Registered and postal address Chilgrove Business Centre, Chilgrove, West Sussex PO18 9HU.  <a href="mailto:sales@wastecarrierslicence.co.uk">sales@wastecarrierslicence.co.uk</a> <a href="/waste-carrier-terms">Terms and Conditions</a></p>
    </div>

</footer>
<script type='text/javascript' data-cfasync='false'>window.purechatApi = { l: [], t: [], on: function () { this.l.push(arguments); } }; (function () { var done = false; var script = document.createElement('script'); script.async = true; script.type = 'text/javascript'; script.src = 'https://app.purechat.com/VisitorWidget/WidgetScript'; document.getElementsByTagName('HEAD').item(0).appendChild(script); script.onreadystatechange = script.onload = function (e) { if (!done && (!this.readyState || this.readyState == 'loaded' || this.readyState == 'complete')) { var w = new PCWidget({c: '11358398-7019-4db6-bb18-98bae0a158a1', f: true }); done = true; } }; })();</script>
