<link href="/stylesheets/wcl-main.min.css?v={{ globals['site']['dateNow'] | json | slice:-7,6 }}" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">
  <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <script src="//code.jquery.com/jquery-2.2.4.min.js"></script>
  <script src="/js/main.min.js"></script>