<footer>
    <div class="wrapper row footer__sup">
        <div class="col-sm-4">
            <h4>Contact us</h4> {module_webform id="476380"}
        </div>
        <div class="col-sm-4">
            <h4>Pages</h4>
            <nav class="nav nav__footer">
                {module_menu menuId="1592959"}
            </nav>
        </div>
        <div class="col-sm-4">
            <h4>Contact us</h4>
            <p class="tiny address"><b>Head Office</b>
                <br> Chilgrove Business Centre
                <br> Chilgrove
                <br> West Sussex
                <br> PO18 9HU</p>
            <p class="tiny"><a href="mailto:info@yourenvironment.org">info@yourenvironment.org</a>
            </p>
            <div class="row">
              <p class="footer__tel col-xs-6 col-sm-12">
                <sub>Southern Office</sub><br>
                01243 787150</p>
              <p class="footer__tel col-xs-6 col-sm-12">
                <sub>Northern Office</sub><br>
                01484 637 960</p>
              </div>
              <div class="footer__logos">
                <img src="/img/ye/chas.png" alt="CHAS">
                <img src="/img/ye/construction-line.png" alt="Constructionline">
              </div>
        </div>
    </div>
    <div class="wrapper footer__sub">
        <p class="tiny">© 2018 Your Environment.</p>
        <div class="social">
            <a href="https://www.facebook.com/yourenvironmentconsulting/" target="_blank">
                <i class="fab fa-facebook-f"></i>
            </a>
            <a href="https://www.linkedin.com/company-beta/3010973/" target="_blank">
                <i class="fab fa-linkedin"></i>
            </a>
            <a href="https://plus.google.com/+YourenvironmentOrg?hl=en" target="_blank">
                <i class="fab fa-google-plus-g"></i>
            </a>
        </div>
    </div>
</footer>
<script>
!function(e,n){"function"==typeof define&&define.amd?define([],n):"object"==typeof exports?module.exports=n():e.mobileMenu=n()}(this,function(){"use strict";var e=function(e){var n=e.checkbox,t=e.trigger,r=e.mobileMenu,o=e.fixedMenu,i=void 0!==o&&o,c=[n,t,r];c.forEach(function(e){if("string"!=typeof e)throw new Error("Error with options used")});var l=document.documentElement,a=document.body,d=document.querySelector(n),s=document.querySelector(r),u=document.querySelector(t);if(null==u)throw new Error("Cannot find trigger from selector in option");if(null==d)throw new Error("Cannot find checkbox from selector in option");if(null==s)throw new Error("Cannot find mobileMenu from selector in option");for(var f="CLOSED",m=function(e){var n=e.target,t=n;if("CLOSED"!==f){for(;t!==l&&t!==a&&t!==u&&t!==d&&t!==s;)t=t.parentElement;t!==a&&t!==l||(d.checked=!1,f="CLOSED",a.style.overflow=null,s.inert===!1&&(s.inert=!0))}},p=function(){f=d.checked?"OPEN":"CLOSED","OPEN"===f?(a.style.overflow="hidden",s.inert===!0&&(s.inert=!1),i||pageYOffset>0&&window.scrollTo(0,0)):(a.style.overflow=null,s.inert===!1&&(s.inert=!0))},E=function(e){var n=e.target;if(n.classList.contains(r.replace(".","")+"__button")){var t=n.parentElement;t.classList.toggle(r.replace(".","")+"__parent--open")}},h=s.querySelector("ul"),v=h.querySelectorAll("ul"),L=0;L<v.length;L++){var g=v[L];if(null==g||1!==g.nodeType)return;var w=g.parentElement,y=document.createElement("BUTTON");y.classList.add(r.replace(".","")+"__button"),y.innerHTML="Toggle",w.appendChild(y),w.classList.add(r.replace(".","")+"__parent")}d.checked?f="OPEN":s.inert===!1&&(s.inert=!0),s.classList.add(r.replace(".","")+"--enhanced"),u.classList.add(t.replace(".","")+"--enhanced"),requestAnimationFrame(function(){requestAnimationFrame(function(){s.classList.add(r.replace(".","")+"--animateable"),u.classList.add(t.replace(".","")+"--animateable")})}),document.addEventListener("click",m,!1),d.addEventListener("change",p,!1),s.addEventListener("click",E,!1)};return e});
</script>
<script type="text/javascript">
  window.mobileMenu({
    checkbox: '.mobile-menu-checkbox',
    trigger: '.mobile-menu-trigger', // must be a class selector
    mobileMenu: '.mobile-menu' ,// must be a class selector
    fixedMenu: false, // If false will scroll to the top of the window when trigger is clicked.
  });
</script>
<script type='text/javascript' data-cfasync='false'>window.purechatApi = { l: [], t: [], on: function () { this.l.push(arguments); } }; (function () { var done = false; var script = document.createElement('script'); script.async = true; script.type = 'text/javascript'; script.src = 'https://app.purechat.com/VisitorWidget/WidgetScript'; document.getElementsByTagName('HEAD').item(0).appendChild(script); script.onreadystatechange = script.onload = function (e) { if (!done && (!this.readyState || this.readyState == 'loaded' || this.readyState == 'complete')) { var w = new PCWidget({c: '11358398-7019-4db6-bb18-98bae0a158a1', f: true }); done = true; } }; })();</script>
