
<div class="blog-container">
	<h1>{tag_blogtitle}</h1>
	<p class="description">{tag_blogdescription}</p>
	<div class="wrapper clear">
		<div class="post-list">
			{tag_postlist}
			<hr />
			<p class="page-nav">{tag_previouspage} {tag_pagination} {tag_nextpage}</p>		
		</div>
		<div class="side-panel">
			<h4>Recent Posts</h4>
			{tag_blogrecentpost}
			<hr />
			<h4>Tags</h4>
			{tag_blogtagcloud}
			{tag_blogtaglist}
			<hr />
			<h4>Archive</h4>
			{tag_blogpostarchive}
		</div>
	</div><!-- END .wrapper -->
</div><!-- END .blog-container -->

