<div class="blog-post">
  <h2 class="post-title"> {tag_blogposttitle_nolink} </h2>
  <div class="post-details"> {tag_blogpostauthor} - {tag_blogpostdate} </div>
  <br>
  <div class="post-body">
  <img src="{tag_blogpostfeaturedimageurl}">{tag_blogpostbody}
    <div class="links"> <a href="#comments">Comments ({tag_commentcount})</a> | <a href="#trackbacks">Trackbacks ({tag_trackbackcount})</a> | {tag_permalink}</div>
  </div>
  <!-- BEGIN #comments -->
  <a name="comments"></a>
  <div class="comment-list">
    <h5> Comments</h5>
    {tag_commentspaged}
    <hr />
    <form onsubmit="return checkWholeForm(this)" action="/RatingProcess.aspx?OID={tag_blogpostid}&amp;OTYPE={tag_blogposttype}" method="post">
      <h5> Post a Comment</h5>
      <div class="form">
        <div class="item">
          <label> Name (optional)</label>
          <br />
          <input maxlength="255" name="fullname" class="cat_textbox_small" />
        </div>
        <div class="item">
          <label> Website (optional)</label>
          <br />
          <input maxlength="255" name="website" class="cat_textbox_small" />
        </div>
        <div class="item">
          <label> Email Address (optional)</label>
          <br />
          <input maxlength="255" name="emailaddress" class="cat_textbox_small" />
        </div>
        <div class="item">
          <label> Enter Word Verification in box below</label>
          <br />
          {module_captchav2}
        </div>
        <div class="item">
          <label> Your comment</label>
          <br />
          <textarea name="Feedback" class="cat_listbox_small"></textarea>
        </div>
        <div class="item">
          <input type="submit" value="Submit" />
        </div>
      </div>
      <script type="text/javascript" src="/CatalystScripts/ValidationFunctions.js"></script>
      <script type="text/javascript">
      //<![CDATA[
      function checkWholeForm(theForm) {
        var why = "";
        if (theForm.EmailAddress) if (theForm.EmailAddress.value.length > 0) why += checkEmail(theForm.EmailAddress.value);
        if (theForm.CaptchaV2) why += isEmpty(theForm.CaptchaV2.value, "Enter Word Verification in box below");
        if (why != "") { alert(why); return false; }
        return true;
      }
      //]]>
      </script>
    </form>
  </div>
  <!-- END #comments -->
  <!-- BEGIN #trackbacks -->
  <a name="trackbacks"></a>
  <div class="trackbacks">
    <dl>
      <dt>Trackback Link</dt>
      <dd> {tag_trackbacklink}</dd>
      <dt>Trackbacks</dt>
      <dd> {tag_trackbacklist}</dd>
    </dl>
  </div>
  <!-- END #trackbacks -->
</div>
<!-- END .blog-post -->
