footer {
  background: #252525;
  color: #ccc;
  margin-top: 20px;
  font-size: 12px;
  color: #777;

  h4 {
    text-transform: uppercase;
    font-weight: 200;
    letter-spacing: 2px;
    margin-bottom: 14px;
    font-size: 12px;
    color: #777;
  }
  .footer__sup {
    padding: 20px 0 20px 0
  }
  .footer__sub {
    border-top: 1px solid #3b3b3b;
    display: flex;
    align-items: center;
    justify-content: space-between;
    line-height: 66px;

    p {
      margin: 0 auto 0 0;
    }
  }
  label {
      color: #CCC;
  }
  a {
    color: #27CCC0;
  }
  form .col-sm-4 {
    width: 100%
  }
  .address {
    margin-top: 27px;
  }
  .tiny {
      font-size: 12px !important;
      color: #CCC;
  }
  .social a {
      text-decoration: none;
      margin-left: 10px;
      font-size: 20px;
  }
  .footer__logos {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    img {
      max-height: 70px;
      margin: 20px 20px 0 0;
    }
  }

    p.footer__tel {
        font-size: 20px;
        color: #ddd;
        letter-spacing: 1px;
    }

    .footer__tel sub {
        font-size: 14px;
        font-weight: 100;
        text-transform: uppercase;
        letter-spacing: 1px;
    }
  }


.nav__footer {
  ul {
      margin-top: 26px;
      list-style-type: none;
      padding: 0;
      ul {
          margin-top: 0;
          margin-left: 20px;
      }
  }
  li {
      line-height: 26px;
  }
  img {
      display: none;
  }
  a {
      color: #CCC;
      text-decoration: none;
      transition: color 0.3s;
      &:hover {
          color: #29d0c4;
      }
  }
}
