.topbar, header {
  color: #888;
  font-weight: 400;
    a {
      color: inherit;
      text-decoration: none;
    }
}

.topbar {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    background: white;
    box-shadow: 0 1px 6px 3px #ccc;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1000;
    img {
      height: 30px;
      width: 30px;
      vertical-align: middle;
    }
    .topbar a {
        display: inline-block;
        margin: 0 15px;
    }
}

header {
  background: white;
  margin-top: 40px;
  padding: 0;

  .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .header__logo {

    img {
      display: block;
      height: 80px;
    }
  }

  nav {

    > ul {
      list-style: none;
      margin: 0;
      padding: 0;
      font-weight: 200;
    height: 100px;
    display: flex;
    align-items: stretch;
    justify-content: flex-end;

      li {
            display: inline-flex;
    position: relative;
    margin: 0 13px;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    &:hover > a {
      color: #27ccc0;
    }

        &:hover ul {
          display: block;
        }
        ul {
          position: absolute;
          top: 100%;
          left: 0;
          width: 240px;
          padding: 0;
          display: none;
          z-index: 20;

          li {
            display: block;
            margin-left: 0;
            padding: 0;
              a {
                color: #ccc;
                background-color: #1C1C1C;
                display: inherit;
                padding: 14px;

                &:hover {
                  background : #272727;
                  color: #27ccc0;
                }
              }
          }

        }

      }
    }
  }
}

.mobile-menu {
  position: fixed;
  left: 100%;
  top: 0;
  bottom: 0;
  width: 250px;
  background: #4f622b;
  -webkit-overflow-scrolling: touch;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  z-index: 100;
  text-transform: uppercase;
  overflow: scroll;

  * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  ul {
    padding: 0;
    margin: 0;
    display: block;

    ul {
      display: none;
      padding-left: 20px;
      position: relative;
      width: 100%;
    }
  }

  li {
    display: block;
    padding: 0;
    margin: 0;
  }

  a {
    display: block;
    padding: 16px 30px;
    color: #FFF;
    text-decoration: none;

    &:focus,
    &:hover {
      background: #405023;
      color: #fff;
    }
  }

  &__parent {
    position: relative;

    &--open > ul {
      display: block !important;
    }
  }

  &__button {
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 56px;
    background: transparent;
    border: none;
    font-size: 0;

    &:after {
      content: "\f107";
      font-family: 'FontAwesome';
      font-size: 20px;
      color: #FFF;
    }
  }

  a {
      padding: 12px 15px;
      border-bottom: 1px solid #c3d69e;
      font-size: 15px;
  }
  ul ul a {
      padding: 12px 15px 12px 35px;
      background: #789440;
  }
  ul ul {
      display: block;
      padding-left: 0;
      position: relative;
      width: 100%;
  }
  &__button {
      display: none;
  }

}

.mobile-menu--enhanced {
  right: auto !important;
  left: 0 !important;
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%);
}

.mobile-menu--animateable {
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.mobile-menu-checkbox {
  display: none;
}

.mobile-menu-checkbox:checked ~ .mobile-menu {
  left: auto;
  right: 0;
}

.mobile-menu-checkbox:checked ~ .mobile-menu--enhanced {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
}

.mobile-menu-trigger {
  width: 40px;
  padding: 0 5px;
  overflow: hidden;
  display: block;
  float: right;
  margin: 22px 0 23px;
}

.mobile-menu-trigger span {
  display: block;
  margin-top: 5px;
  width: 100%;
  height: 5px;
  background: #4f622b;
  border-radius: 2px;

  &:first-child {
    margin-top: 0;
  }
}
.mobile {
    display: none;
}
@media screen and (max-width: 768px) {
    header .wrapper {
        display: block;
    }
    .mobile {
        display: block !important;
    }
    .desk {
        display: none;
    }
    a.header__logo {
        display: none;
    }
    .topbar img {
        width: 18px;
        height: 18px;
    }
    .topbar a {
        font-size: 12px;
    }
    .mobile-logo {
        padding: 10px 0;
        img {
            max-width: 180px;
            width:  100%;
        }
    }
}
