body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  font-size: 16px;
  color: #676767;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.bg {
  &--grey {
    background-color: #fdfdfd;
  }
  &--green {
    background-color: #779440;
  }

}

/*
████████ ██    ██ ██████   ██████   ██████  ██████   █████  ██████  ██   ██ ██    ██
   ██     ██  ██  ██   ██ ██    ██ ██       ██   ██ ██   ██ ██   ██ ██   ██  ██  ██
   ██      ████   ██████  ██    ██ ██   ███ ██████  ███████ ██████  ███████   ████
   ██       ██    ██      ██    ██ ██    ██ ██   ██ ██   ██ ██      ██   ██    ██
   ██       ██    ██       ██████   ██████  ██   ██ ██   ██ ██      ██   ██    ██
*/

h1, .h1 { font-size: 30px; line-height: 42px; margin-bottom: 7px; }

h2, .h2 { font-size: 22px; line-height: 36px; margin-bottom: 10px;}

h3, .h3 { font-size: 19px; line-height: 34px; margin-bottom: 7px; }

h4, .h4 { font-size: 18px; line-height: 32px; margin-bottom: 7px; }

h5, .h5 { font-size: 16px; line-height: 26px; margin-bottom: 7px; }

h6, .h6 { font-size: 14px; line-height: 24px; margin-bottom: 7px;  }

h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6 {
	color: #444;
	letter-spacing: -0.5px;
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
	font-family: 'Open Sans';
	font-weight: 600;
}

.center {
  text-align: center;
}

.bold, strong, b {
	font-family: 'Open Sans';
	font-weight: 600;
}

.uppercase {
	-webkit-font-smoothing: antialiased;
    font-family: 'Open Sans';
	font-weight: 700;
    text-transform: uppercase;
}

.tiny, .tiny p {
	font-size: 14px!important;
	line-height: 22px!important;
}

img {
    max-width: 100%;
}

body h1.light, body h2.light, body h3.light, body h4.light, body h5.light, body h6.light, p.light {
	text-transform: none;
	-webkit-font-smoothing: antialiased;
	font-family: 'Open Sans';
	font-weight: 300;
}

body h1.jumbo, body h2.jumbo, body h3.jumbo, body h4.jumbo, body h5.jumbo, body h6.jumbo, p.jumbo {
     font-size: 100px!important;
     line-height: 110px!important;
}

h1.light { font-size: 34px; margin-bottom: 30px; }

h2.light { font-size: 28px; margin-bottom: 30px; letter-spacing: 0.5px;}

h3.light { font-size: 24px; margin-bottom: 15px; letter-spacing: 0.5px;}

h4.light { font-size: 18px; margin-bottom: 7px; letter-spacing: 0.5px;}

h5.light { font-size: 16px; margin-bottom: 7px; letter-spacing: 0.5px;}

h6.light { font-size: 14px; margin-bottom: 7px;  letter-spacing: 0.5px;}


h1.uppercase { letter-spacing: 3px; }

h2.uppercase { letter-spacing: 2.5px; }

h3.uppercase { letter-spacing: 2px; }

h4.uppercase { letter-spacing: 2px; }

h5.uppercase { letter-spacing: 1.3px; }

h6.uppercase { letter-spacing: 1.3px; }


/*
██████   █████   ██████  ███████ ███████
██   ██ ██   ██ ██       ██      ██
██████  ███████ ██   ███ █████   ███████
██      ██   ██ ██    ██ ██           ██
██      ██   ██  ██████  ███████ ███████
*/
.homepage__features {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 100px 10px;

    .homepage__feature {
        flex: 1 0 25%;
        padding: 0 20px;
        p {
          color: #666;
          line-height: 2em;
          font-size: 13px;
        }

        &__iconwrapper {
          height: 104px;
          display: flex;
          align-items: center;
        }
        &__icon {
          height: 88px;
          width: 88px;
          background-color: #f3f3f3;
          border-width: 2px;
          border-style: solid;
          border-color: #e9e9e9;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 50%;
          margin: 0 auto;
          font-size: 24px;
          transition: border-color 0.3s, height 0.3s cubic-bezier(0.57, 0.84, 0.74, 1.29), width 0.3s cubic-bezier(0.57, 0.84, 0.74, 1.29);
        }
        &:hover .homepage__feature__icon {
          height: 104px;
          width: 104px;
          border-color: #f6653c;
        }
    }
}

.homepage__testimonials {
  padding: 90px 0 ;

  .homepage__testimonial {
    width: 550px;
    max-width: 70vw;
    padding: 15px;
    font-weight: 300;
    outline: none;
    opacity: 0.3;
    transition: opacity 0.3s;

    &.slick-current {
      opacity: 1;
    }

    &.slick-current .homepage__testimonial__content {
      background-color: #5f7733;

      &:after {
        background: #333;
      }
    }

    &__content {
        padding: 50px 50px 50px 100px;
        border-radius: 10px;
        margin-bottom: 40px;
        transition: background-color 0.2s ease;
        color: white;
        font-size: 22px;
        line-height: 40px;
        position: relative;
        quotes: "\201C" "\201D";
        background-color: rgba(0,0,0,0);

        &:before {
            font-family: sans-serif;
            content: open-quote;
            font-size: 130px;
            position: absolute;
            left: 29px;
            top: 50px;
            opacity: 0.4;
            line-height: 115px;
        }

        &:after {
          content: "";
          top: calc(100% - 12px);
          left: calc(50% - 12px);
          position: absolute;
          width: 24px;
          height: 24px;
          background: transparent;
          border-radius: 4px;
          -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
          z-index: -1;
          border-style: solid;
          border-width: 12px;
          border-color: #769440 transparent transparent #769440;
          transition: background 0.2s;
        }

        p {
          margin: 0 0 1em 0;

          &:last-of-type {
            margin: 0;
          }
        }
    }

    &__author-title {
        font-size: 16px;
        line-height: 22px;
        text-align: center;
        margin: 0;
        color: rgba(255, 255, 255, 0.95);
    }

    &__author-subtitle {
        color: #dde4ce;
        font-weight: 200;
        text-align: center;
        margin: 0;
        font-size: 14px;
    }
  }
}
.homepage__description {
  padding: 30px 2vw 10px 2vw;
  font-size: 20px;
  text-align: center;
  line-height: 34px;

  .homepage__description p {
      margin: 0;
  }
}
.homepage__slider {
  position: relative;

  ul.slick-dots {
    position: absolute;
    bottom: 20px;
    z-index: 10;
    @media screen and (min-width: 481px) {
      display: none !important;
    }
}

.slick-dots li button {
    background: #789440;
    border-radius: 50%;
    box-shadow: 0 0 3px white;
}

.slick-dots li button:before {
    font-size: 30px;
}

  .homepage__slide {
    height: 48vw;
    max-height: 625px;
    background-size: cover;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 50vw;
    outline: none;
    padding-bottom: 10vw;
    position: relative;

    &__link {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      display: block;
      z-index: 10;
    }

    &__content {
      padding: 0 90px;
      max-width: 600px;
      width: 100%;
    }


      &__title {
        font-size: 45px;
        line-height: 51px;
        font-weight: 100;
        margin: 0 0 10px 0;
        letter-spacing: 0.5px;
        color: #FFF;
      }

      &--light-text .homepage__slide__title {
        color: white;
      }

      &__subtitle {
        line-height: 38px !important;
        box-shadow: 10px 0 0 rgba(255, 255, 255, 0.4), -10px 0 0 rgba(255, 255, 255, 0.4);
        display: inline;
        background: none repeat scroll 0 0 rgba(255, 255, 255, 0.4);
        padding: 4px 0;
        left: 10px;
        position: relative;
        font-weight: 100;
        color: #111;
      }

      &--light-text .homepage__slide__subtitle {
        color: white;
        background: none repeat scroll 0 0 rgba(17, 17, 17, 0.4);
        box-shadow: 10px 0 0 rgba(17, 17, 17, 0.4), -10px 0 0 rgba(17, 17, 17, 0.4);
      }

  }

  &__arrow {
    width: 50px;
    height: 60px;
    background: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: calc( 50% - 30px );
    cursor: pointer;
    &--prev {
      border-radius: 0 4px 4px 0;
      left:0;
      &:after {
          content: '\f053';
          font-family: 'FontAwesome';
          font-size: 30px;
          color:  #FFF;
          position: absolute;
          top: 50%;
          margin-top: -15px;
          left: 10px;
      }
    }
    &--next {
      border-radius: 4px 0 0 4px;
      right: 0;
      &:after {
          content: '\f054';
          font-family: 'FontAwesome';
          font-size: 30px;
          color:  #FFF;
          position: absolute;
          top: 50%;
          margin-top: -15px;
          right: 10px;
      }
    }
  }

}
.hero-image {
    background-image: url('/img/ye/contaminated-land.jpg');
    background-size: cover;
    background-position: 50%;
    height: 450px;
    padding: 20px;
    position: relative;
    text-align:  center;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
    color: #FFF;
    margin-bottom: 50px;
    &:after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba(51,51,51,0.4);
    }
    * {
        color: inherit;
        position:  relative;
        z-index: 5;
    }
    h1 {
        font-size: 38px;
    }
    h3 {
        font-size: 27px;
    }
    &__contaminated {
        background-image: url('/img/ye/contaminated-land.jpg');
    }
    &__phase-1 {
          background-image: url('/img/ye/contaminated-land-phase-01.jpg');
    }
    &__phase-2 {
          background-image: url('/img/ye/contaminated-land-phase-02.jpg');
    }
    &__phase-3 {
          background-image: url('/img/ye/contaminated-land-phase-03-04.jpg');
    }
    &__vapour {
        background-image: url('/img/ye/vapour-monitoring.jpg');
    }
    &__geotechnical {
        background-image: url('/img/ye/geotechnical-investigations.jpg');
    }
    &__soakaway {
        background-image: url('/img/ye/soakaway-testing.jpg');
    }
    &__cbr {
        background-image: url('/img/ye/cbr-and-plate-testing.jpg');
    }
    &__surveys {
        background-image: url('/img/ye/surveying.jpg');
    }
    &__servicel {
        background-image: url('/img/ye/services-location.jpg');
    }
    &__topographical {
        background-image: url('/img/ye/topographical-surveying.jpg');
    }
    &__about {
        background-image: url(/img/ye/aerial-office-share.jpg);
    }
}


.list li {
    font-weight: 300;
}

.slider {
    .slick-arrow {
        height: 50px;
        &:before {
            content: '\f104';
            font-family: 'FontAwesome';
            font-size: 50px;
            color: #252525;
        }
    }
    .slick-prev:before {
        content: '\f104';
    }
    .slick-next:before {
        content: '\f105';
    }
}
#main{
  > .wrapper {
    >h3, >p {
      text-align: justify;
    }
  }

  p, ol li {
      line-height: 32px;
      font-size: 18px;
  }

  ul li {
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 10px;
  }

  p {
      margin: 15px 0;
  }

    .caption {
      margin: 0 0 1em 0;
      font-size: 0.8em;
      line-height: 1.5;
      padding: 4px 9px;
      border-left: 1px solid lightgrey;
    }

  a {
    color: #27CCC0;
    text-decoration: none;
    transition: all 0.3s;
    &:hover {
        color: #444;
    }

  }
  .service {
      margin: 30px auto 60px;
      max-width: 310px;
      &__icon {
          width: 150px;
          height: 150px;
          border-radius: 100%;
          background: #789440;
          display: flex;
          align-items: center;
          justify-content: center;
          color: #FFF;
          margin: 0 auto;
          font-size: 55px;
          transition: font-size 0.3s

      }
      &:hover .service__icon {
          font-size: 70px;

      }
      p {
        font-size: 12px;
        line-height: 20px;
        color: #333
      }
  }

  .read-more {
      font-size: 12px;
      color: inherit;
      text-decoration: none;
      display: block;
      margin: 20px 0 0;
      &:hover {
          text-decoration: underline;
      }
  }
}

.post-content-contact {
    padding: 20px 0;
    margin-bottom: -20px;
    margin-top: 25px;
    background: #789440;
    color: white;

    h3 {
        font-size: 25px;
        line-height: 2.4em;
        margin: 0 0 10px 0;
        color: #c3d69e;
    }

    input.cat_button {
        background: #565656;
        float: right;
        margin-top: 30px;
    }

    .form {
      &__row {
        display: flex;
        align-items: flex-stretch;
        justify-content: space-evenly;
      }
      &__column {
        flex-basis: 30%;
      }
    }
}



.slider--images {
    margin: 0 30px;

    .slick-slide {
        margin: 10px 20px;
        opacity: 0.6;
        transition: opacity 0.3s;
    }

    img.slick-slide.slick-active {
        opacity: 1;
    }
}


.margin-top-30 {
    margin-top: 30px;
}

input[type=text], textarea {
    width: 100% !important;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    padding: 8px;
    margin: 5px 0 10px;
    border: 1px solid #cccccc;
}

input.cat_button {
    border: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    padding: 15px 30px;
    margin: 15px 0 0;
    background: #28cfc3;
    border-radius: 30px;
    color: #FFF;
}

.g-recaptcha {
    margin: 5px 0 10px;
}

label {
    display: block;
    font-size: 12px;
}

#map {
    height: 300px;
}

@media screen and (max-width: 768px) {
  .homepage__slider .homepage__slide {
    padding-left: 0;
  }
}

@media screen and (max-width: 480px) {
  .post-content-contact .form__column {
    flex-basis  : 100%;
}

.post-content-contact .form__row {
    flex-wrap: wrap;
}
  .homepage__slider {
    .slick-dots {
      display: block;
    }
    &__arrow {
      display: none !important;
    }
    .homepage__slide {
    padding: 20px 10px;
    align-items: flex-start;
    height: 70vh;

      &__title {
    font-size: 34px;
    line-height: 1.2;
      }
      &__subtitle {
        box-shadow: 10px 0 0 hsla(0, 0%, 100%, 0.6), -10px 0 0 hsla(0, 0%, 100%, 0.6);
        background: none repeat scroll 0 0 hsla(0, 0%, 100%, 0.6);
      }
      &__content {
          padding: 0 20px 0 0;
      }
    }
  }
  .homepage__features {
    padding: 0 10px;
  }
  .homepage__testimonials {
    padding: 10px 0;
     .homepage__testimonial {
          max-width: 90vw;
          &__content {
    padding: 70px 20px 20px 30px;

    font-size: 20px;
    line-height: 32px;
    &:before {
    left: 10px;
    top: 20px;
    }
          }
      }
  }
}

.cc_banner.cc_container {
    background: #fff !important;
    color: #000 !important;
    border: 1px solid #dedede;
}
.cc_container .cc_btn {
    background: #75af07 !important;
    color: #FFF !important;
}
.cc_container a {
    color: #74af07 !important;
}
.cc_banner-wrapper {
    z-index: 3000000000 !important;
}
.cc_banner.cc_container {
    max-width: 500px;
    left: auto;
    display: flex;
    bottom: 15px;
    right: 15px;
    margin-left: 15px;
    align-items: center;
    justify-content: center;
}

a.cc_btn.cc_btn_accept_all {
    order: 2;
}

.cc_container p.cc_message {
    margin-top: 0;
}
