<nav id="myMenu1">{tag_menugroup}</nav>
<script type="text/javascript" src="/CatalystScripts/Java_DynMenusSelectedCSS.js"></script>
<script type="text/javascript" >
	var divTagId = "myMenu1";
	var ulTagId = "myMenu1List";
	var ulTagClass = "";

	if ((null !== ulTagId) && ("" !== ulTagId)) {
		document.getElementById(divTagId).getElementsByTagName("ul")[0].setAttribute("id",ulTagId);
	}
	if ((null !== ulTagClass) && ("" !== ulTagClass)) {
		document.getElementById(divTagId).getElementsByTagName("ul")[0].className = ulTagClass;
	}

	if ((null !== ulTagId) && ("" !== ulTagId)) {
		catSetSelectedCSSItem(ulTagId);
	}
</script>
