header {
    background: #f7f7f7;
    color: #76af05;
    font-size: 18px;
    padding: 10px 0;
    border-bottom: 2px solid;

  a {
    text-decoration: none;
  }

  nav {
    margin-left: auto;
  }

  .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    ul {
      list-style: none;
      display: flex;
      line-height: 2em;
      margin: 0;

      li {
        margin: 10px 14px;
        font-weight: bold;
      }
    }
  }

  .header {

      &__nav {
          display: flex;
          align-items: center;

          &__menu {
            @media screen and (max-width: 768px) {
              width: 100%;
            }
          }
        }

    &__tel {
      font-size: 1.3em;
    margin: 0 0 0 10px;
    }

    &__logo {
      // margin-right: auto;
      font-size: 1.5em;

      a {
        color: #627935;
      }

      img {
        height: 1.8em;
      }
    }
  }
}
#showMobileNav {
  display: none
}
@media screen and (max-width: 768px) {
  body{
    margin-top: 140px !important;
  }
  header {
    position: fixed;
    z-index: 20;
    top: 0;
    right: 0;
    left: 0;
    height: 140px;
    border-bottom: none;
    height: inherit;
    .wrapper {
      background:#f7f7f7;
      padding: 10px;
      margin: -10px 0;
      border-bottom: 3px solid #76af05;
    }
    #showMobileNav:checked ~ nav.mobnav.nodesktop {
        transform: translate(0,0px);
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.43);
    }
    .mobnav {
      position: absolute;
      left: 0;
      right: 0;
      top: 100%;
      background: #7cb420;
      color: white;
      z-index: -1;
      transform: translate(0,-100%);
      transition: transform 0.4s;


      a {
        display: block;
        padding: 20px 15px;
        border-bottom: 1px dashed #89bb39;
        margin: 0 10px;
        }
        li:last-child {
          border-bottom: none;
        }

    }

  }
  header .wrapper > div {
    flex-basis: 100%;
  }
  .header {
    &__mob {
      padding: .4em 0.5em;
      line-height: 1.3;
      border-radius: 3px;
      background: #617935;
      color: #fff;
      font-size: 15px;
      margin: .5em 0 0;
      text-transform: uppercase;
      display: inline-flex;
      align-items: center;
      justify-content: space-between;

      img {
        height: 15px;
        width: 15px;
        margin: 0 0.3em 0 0;
      }
    }
    &__logo {
      text-align: center;
      margin-left: auto;
      span {
        font-size: 0.6em;
      }
      img {
        margin-left: 0
      }
    }
  }
}

.irishlicences {
    background: #77933e;
    color: white;
    text-align: center;
    padding: 5px 0;
}
