span.t-large {
  font-size: 1.4em;
  @media screen and (max-width: 768px) {
    font-size: 1.25em;
  }
}

body.home {
  ul {
    list-style-position: inside;
}

#main li {
    margin: 0;
}
}

.tiers {
  background: #f5f5f5;
  color: #1f1f1f;
  padding: 1px 0 0 0;
  .button.button--cta {
    margin: 1.2em 1em;
  }
}

.tierboxes {
    display: flex;
    align-items: stretch;
    margin: 40px 0 20px;
    @media screen and (max-width: 480px) {
      flex-wrap: wrap;

      > div {
        margin-bottom: 30px;
      }
    }
}

.hide {
  display: none;
}

.tierboxes .tier {
  height: 100%;
  display: flex;
  align-items: center;

  &__content {

  }
}

.tier, .highlightbox {

  background: #e0e8d0;
  color: #2b2b2b;
  padding: 10px 15px 1px 15px;
  border-radius: 2px;
  box-shadow: 1px 1px 3px grey;

  h4 {
    margin: 0 0 20px 0;
    font-size: 1.5em;
    color: #060606;
  }
}

.highlightbox {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  padding: 10px 15px;
  margin: 40px 0 20px 0;

  h3 {
    margin: 0;
  }
  .button--cta {
    margin: 0.3em 0.2em;
  }

}

p.t, .t{
  &-large {
    font-size: 1.4em;
    margin: 0.7em 0;
  }
  &-xlarge {
    font-size: 1.7em;
    margin: 0.5em 0;
  }
  &-center {
    text-align: center;
  }

}
.button {
    padding: 0.55em 0.8em;
    display: inline-block;
    text-decoration: none;
    border-radius: 2px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.17);
    font-size: 1.2em;
    margin: 1em 0;
    text-align: center;
    transition: color 0.3s, background 0.4s;

    .flex-center & {
      margin: 1em;

      @media screen and (max-width: 768px) {
        margin: 1em 0.4em;
      }
    }

    &--fw {
      min-width: 10em;
    }

    &--large {
      font-size: 2em;
      padding-left: 1em;
      padding-right: 1em;
      margin-top: 0.4em;
      border-radius: 3px;
      @media screen and (max-width: 768px) {
        padding-left: 0.6em;
        padding-right: 0.6em;
      }
    }
    &--cta {
      background: #76AF05;
      color: white;
      &:hover {
        background: #5e8c02;
        color: #fff;
      }
    }
}
.flex {
  display: flex;
  &-center {
    align-items: center;
    justify-content: center;
  }
  &-space-evenly {
    align-items: flex-start;
    justify-content: space-evenly;
  }
  &-space-between {
    align-items: flex-start;
    justify-content: space-between;
  }
  &-wrap {
    flex-wrap: wrap;
  }

}

.securepayments {
    max-width: 420px;
    margin: 41px auto 10px auto;
    font-size: 42px;
    background: white;
    position: relative;
    padding: 14px;
    border-radius: 8px;
    line-height: 42px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border: 2px solid #002889;

    sup {
        position: absolute;
        top: -11px;
        line-height: 20px;
        background: white;
        padding: 2px 6px 0;
        font-size: 12px;
        left: 10px;
        color: #00288a;
        border-radius: 5px 5px 0 0;
    }

    .fa-stripe {
        font-size: 22px;
        vertical-align: top;
    }

    sub i {
        line-height: 1em;
    }

    .fa-lock {
        color: #137033;
        margin-right: 1px;
    }
    img {
      height: 1em;
      vertical-align: text-bottom;
    }
}

.blog__post {
   h3 a {
      text-decoration: none;
      font-size: 1.8em;
      color: #617935;
  }

  img {
      max-width: 100%;
  }

}
.blog-post {
  .post-title{
     text-decoration: none;
     font-size: 1.8em;
     color: #617935;
   }
  .links {
    display: none;
  }

  .trackbacks {
      display: none;
  }
    img {
        max-width: 100%;
    }
}

footer {
  text-align: center;
  font-size: 12px;
  color: #789440;
  padding: 15px 0 0 0;

  p {
    margin: 0;
  }

  &:last-of-type {
    p {
      border: 1px solid #ddd;
      padding: 10px;
      margin: 0;
    }
  }

  .wrapper {
    max-width: 950px;

  }
}

.faq{
  h2 {
    margin-bottom: 10px;
  }
  p {
      margin-top: 10px;
  }
}
.formpage {
  .warning {
    background: #ffdee0;
    padding: 5px 10px;
    color: black;
}
  #main {
    background: #fdfdfd;
    padding: 10px 0;
  }
  form {
    max-width: 800px;
    margin: 30px auto;
    background: #fff;
    padding: 0 20px 30px 20px;

    #selectAddress {
      display: none;
    }
    .postcode-search {
        display: flex;
        align-items: stretch;

        button {
          margin: 0;
          padding: 0 10px;
          float: none;
          white-space: nowrap;
          height: 2em;
          font-size: 1em;
          line-height: 2em;
        }
    }

    .show-after-address {
      display: none;
    }
    input#Amount {
          border: none;
          width: auto;
          display: inline;
      }

    .formsection {
      display: none;
      max-width: 440px;
      margin-bottom: 30px;

      &--show {
        display: block;
      }

      &--wide {
        max-width: none;
      }
    }

    [type="radio"],[type="checkbox"] {
      opacity: 0;
      width: 0;
      height: 0;
      display: inline;
      -webkit-appearance: none;
      appearance: none;
      margin: 0;
    }

    h2 {
      margin-bottom: 10px
    }

    label {
      display: block;
      line-height: 1.4em;
      margin: 0 0 6px 0;
      font-size: 1.3em;

      &.inputradio {
        height: 1.8em;
        font-size: 1.3em;
        display: inline-flex;
        align-items: center;
        justify-content: flex-start;
        padding-left: 1.8em;
        position: relative;
        margin-right: 1em;
        cursor: pointer;

        &:before {
          width: 1.3em;
          height: 1.3em;
          content: '';
          border: 3px solid black;
          display: inline-block;
          border-radius: 50%;
          margin-right: 10px;
          position: absolute;
          left: 0;
          top:0.35em;
          z-index: 10;

        }
      }
    }

    :checked + label.inputradio:after {
      content: '';
      width: 1.3em;
      height: 1.3em;
      content: "";
      border: 3px solid #000;
      display: inline-block;
      border-radius: 50%;
      margin-right: 10px;
      position: absolute;
      left: 0;
      top:0.35em;
      z-index: 5;
      background: black;
      border: 8px solid white;

    }


    select {
      display: block;
      max-width: 400px;
      width: 100%;
      height: 30px;
      border-radius: 0;
      border: 2px solid;
      padding: 0 10px;
      font-family: inherit;
      font-size: inherit;
    }
  }
  input[type="text"] {
    border: 2px solid black;
    height: 2em;
    line-height: 2em;
    -webkit-appearance: none;
    display: block;
    font-size: inherit;
    font-family: inherit;
    width: 100%;
    padding: 0 10px;
  }

  .formitem {
    padding-top: 20px;
  }

  h2 ~ .formitem {
    margin-left: 10px;
    padding-left: 20px;
    border-left: 2px solid grey;
  }

  .formitem.date, .formitem.expiry {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;


      label {
          flex: 100% 0 0;
      }

      select:nth-of-type(1) {
          flex: 25% 0 0 ;
      }
      select:nth-of-type(2) {
          flex: 40% 0 0;
      }
      select:nth-of-type(3) {
          flex: 25% 0 0 ;
      }
    }

    button, .button {
        float: right;
        margin-top: 1.5em;
        height: 2.4em;
        border: 2px solid;
        font-size: 1.2em;
        font-family: inherit;
        padding: 0 2em;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        line-height: 1em;
        background: linear-gradient(to bottom, #75af07 0, #75af07 93%,  #496f02 93%,  #496f02 100%);
        color: white;
        border-radius: 4px;
        border: none;
    }

    .formsection:after {
        content: '';
        clear: both;
        display: block;
    }
}

.system-message {
    padding: 10px 50px 20px 50px;
    background: #f7f7f7;
    margin: 30px 0;
    color: #617935;
    border: 1px solid #75af07;
}

.cc_banner.cc_container {
    background: #fff !important;
    color: #000 !important;
    border: 1px solid #dedede;
}
.cc_container .cc_btn {
    background: #75af07 !important;
    color: #FFF !important;
}
.cc_container a {
    color: #74af07 !important;
}
.cc_banner-wrapper {
    z-index: 3000000000 !important;
}
.cc_banner.cc_container {
    max-width: 500px;
    left: auto;
    display: flex;
    bottom: 15px;
    right: 15px;
    margin-left: 15px;
    align-items: center;
    justify-content: center;
}

a.cc_btn.cc_btn_accept_all {
    order: 2;
}

.cc_container p.cc_message {
    margin-top: 0;
}
