body, ul, li {
  margin: 0 0 15px 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  line-height: 1.55;
}
*,*::after,*::before {
  box-sizing: border-box;
  -webkit-font-size-adjust: none;
}
a {color: inherit}


.wrapper {
  max-width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
  @media screen and (max-width: 768px) {
    padding: 0 15px;
  }

  &--wide {
    max-width: 1400px;
  }
}

h1 {
  font-weight: 400;
}
